
<form class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="btn btn-outline-primary" (click)= "searchText=''" >X</button>
  </form>
  

<table class="table table-sm">
    <thead>
      <th>NAME</th>
      <th>PASSWORD</th>
      <th>PHONE</th>
      <th>USER_NAME</th>
      <th>USER_TYPE</th>
    </thead>
    <ng-container *ngFor="let person of personArray">
      <tr class="table-dark" *ngIf="filterCondition(person)">
        <td>{{person.Name}}</td>
        <td>{{person.Password}}</td>
        <td>{{person.Phone}}</td>
        <td>{{person.User_name}}</td>
        <td>{{person.User_type}}</td>


          
          <td>
            <button class="btn btn-outline-info" (click)="personService.populateForm(person)">Edit</button>
            
            <button class="btn btn-outline-danger" (click)="onDelete(person.$key)">Delete</button>
          </td>
      </tr>
    </ng-container>
  </table>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
    Deleted successfully.
  </div>
