<div class="row">
    <div class="col-md-5">
      <form [formGroup]="this.personService.form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
        <div class="form-group">
          <label> NAME</label>
          <input formControlName="Name" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.Name.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.Name.errors">
            This field is required.</div>
        </div>
        <div class="form-group">
          <label>PASSWORD</label>
          <input formControlName="Password" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.Password.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.Password.errors">
            <label *ngIf="formControls.Password.errors.required">This field is required.</label>
            <label *ngIf="formControls.Password.errors.minlength">Atleast 8 numbers.</label>
          </div>
            
        </div>
        <div class="form-group">
          <label>PHONE</label>
          <input formControlName="Phone" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.Phone.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.Phone.errors">
            <label *ngIf="formControls.Phone.errors.required">This field is required.</label>
            <label *ngIf="formControls.Phone.errors.minlength">Atleast 10 numbers.</label>
          </div>
        </div>

        <div class="form-group">
          <label>USER_NAME</label>
          <input formControlName="User_name" class="form-control">
        </div>

        <div class="form-group">
            <label>USER_TYPE</label>
            <input formControlName="User_type" class="form-control">
          </div>
  
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
      <div class="alert alert-info"  *ngIf="showSuccessMessage">
        Submitted successfully.
      </div>
    </div>
    <div class="col-md-7">
      <app-person-list></app-person-list>
    </div>
  </div>
  © 2
